.header-container {
    background-color: #fff;
    height: 4rem;
    width: 100%;
}

.header-section {
    height: 100%;
    width: 80%;
    margin: auto;
    box-shadow: rgba(33, 35, 38, 0.1) 0rem .625rem .625rem -0.625rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-section img {
    height: 2rem;
    width: auto;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 3px;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: medium;
    cursor: pointer;
}

.nav-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 8rem;
    gap: 8px;

    & .login-item {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: inherit;
        font-size: inherit;
    }

    & :first-child {
        font-size: large;
    }
}

.chevron-icon {
    transition: transform 0.3s ease;
}

.icon-bg {
    background-color: black;
    color: white;
    border-radius: 10px;
}

.rotate {
    transform: rotate(180deg);
}